.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 44px;
  background-color: var(--color--background);
  color: var(--color--foreground);
}

.available {
  cursor: pointer;
}

.available.x:hover::after {
  content: "✕";
}

.available.o:hover::after {
  content: "◯";
}

.available::after {
  opacity: 0.25;
}
