# The URL at which PostgreSQL can be reached (postgresql://)
DATABASE_URL=
# A secret for signing JWTs (Algorithm: HS256)
JWT_SECRET=
# A secret for Rocket to use (for signing private cookies).
ROCKET_SECRET_KEY=
# The OAuth2 Client ID from the Discord Developer Portal
DISCORD_CLIENT_ID=
# The OAuth2 Client Secret from the Discord Developer Portal
DISCORD_CLIENT_SECRET=
