[package]
name = "server"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
dotenv = "0.15"
jsonwebtoken = "7.2.0"
rocket = { version = "0.5.0-rc.1", features = ["json"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sqlx = { version = "0.5.9", features = ["runtime-tokio-rustls", "postgres", "offline", "uuid", "json"] }
uuid = { version = "0.8.2", features = ["serde", "v4"] }
