* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", "Noto Sans Symbols 2", sans-serif;
  font-weight: 100;
}

:root,
body,
#app {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: var(--color--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color--background: rgb(0 0 0);
    --color--foreground: rgb(255 255 255);
    --color--divider: rgb(255 255 255 / 12%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color--background: rgb(255 255 255);
    --color--foreground: rgb(0 0 0);
    --color--divider: rgb(0 0 0 / 12%);
  }
}
