.layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template:
    ".   prompt ." 1fr
    ".   board  ." auto
    ".   player ." 1fr
    / 1fr auto 1fr;
  gap: 2rem;
}

.board {
  grid-area: board;
}

.prompt {
  grid-area: prompt;
  align-self: end;
  justify-self: center;
  font-size: 2rem;
  color: var(--color--foreground);
}

.player {
  grid-area: player;
  align-self: start;
  justify-self: center;
  color: var(--color--foreground);
  opacity: 0.5;
}
