.container {
  position: absolute;
}

.container.undrawn {
  opacity: 0;
}

.container.undrawn:not(.disabled) {
  cursor: pointer;
}

.container.undrawn:not(.disabled):hover {
  opacity: 0.5;
}

.line {
  background-color: var(--color--foreground);
}

.container.horizontal {
  transform: translateY(-50%);
}

.container.vertical {
  transform: translateX(-50%);
}
