# The Application ID from the Discord Developer Portal
DISCORD_CLIENT_ID=
# The bot's Token from the Discord Developer Portal
DISCORD_TOKEN=
# The URL at which redis can be reached (redis://)
REDIS_URL=
# The URL at which the server can be reached, from the bot (http://)
API_URL=
# The URL at which the server can be reached, from the web (http://)
WEB_URL=
