@font-face {
  font-family: "Whitney";
  src: url("/static/whitneybook.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Whitney";
  src: url("/static/whitneymedium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Whitney";
  src: url("/static/whitneysemibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Whitney";
  src: url("/static/whitneybold.otf");
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
