name: Release

on:
  push:
    branches: ['release']

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory: ['bot', 'server', 'database', 'games/tictactoe']
        include:
          - directory: bot
            image: minigames-bot
          - directory: server
            image: minigames-server
          - directory: database
            image: minigames-database
          - directory: games/tictactoe
            image: minigame-tictactoe
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: ${{ matrix.directory }}
          push: true
          tags: ghcr.io/foxfriends/${{ matrix.image }}:latest
          build-args: |
            NPM_TOKEN=${{ secrets.GITHUB_TOKEN }}
